.button {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: orangered;
}

.button:hover {
  background-color: antiquewhite;
}

.buttonPrimary {
  background-color: blue;
  color: white;
  border-radius: 5px;
}
